
<!--  MENU CATEGORIA    --> 
<div class="float-left" class="categoria">
<!--  CONTAINER    --> 
<div  class="container p-3">
<!--  CARD CATEGORIA    -->     
<div class="card" style="width: 12rem;">
    <div class="card-body">
        <!--  TITULO CARD    --> 
      <h5 class="card-title">Categorias</h5>
    </div>
    <!--  LISTAR TODAS AS CATEGORIAS    --> 
    <ul class="list-group list-group-flush">
      <li  class="list-group-item"><a href="{{link}}/mercado" class="card-link text-dark">Mercado</a></li>
      <li class="list-group-item"><a href="{{link}}/promocao" class="card-link text-dark">Promoções</a></li>
      <li class="list-group-item"><a href="{{link}}/lanches" class="card-link text-dark">Lanches</a></li>
      <li class="list-group-item"><a href="{{link}}/pizza" class="card-link text-dark">Pizza</a></li>
      <li class="list-group-item"><a href="{{link}}/vegetariana" class="card-link text-dark">Vegetariana</a></li>
      <li class="list-group-item"><a href="{{link}}/japonesa" class="card-link text-dark">Japonesa</a></li>
      <li class="list-group-item"><a href="{{link}}/brasileira" class="card-link text-dark">Brasileira</a></li>
      <li class="list-group-item"><a href="{{link}}/bebidas" class="card-link text-dark">Bebidas</a></li>
      <li class="list-group-item"><a href="{{link}}/acai" class="card-link text-dark">Açai</a></li>
      <li class="list-group-item"><a href="{{link}}/docesebolos" class="card-link text-dark">Doces e Bolos</a></li>
      <li class="list-group-item"><a href="{{link}}/arabe" class="card-link text-dark">Arabe</a></li>
      <li class="list-group-item"><a href="{{link}}/italiana" class="card-link text-dark">Italiana</a></li>

    </ul>
  </div>
</div>
</div>





