
<!--  MENU CATEGORIA    --> 
<div class="categoria">
    <!--  CONTAINER    --> 
    <div  class="container p-3">
    <!--  CARD CATEGORIA    -->     
    <div class="card" style="width: 12rem;">
        
        <!--  LISTAR TODAS AS CATEGORIAS    --> 
        <ul class="list-group list-group-flush">
          <li  class="list-group-item"><a href="{{link}}admin/dashboard" ><i class="fa fa-dashboard fa-fw"></i> Dashboard </a></li>
          <li class="list-group-item"><a href="{{link}}admin/usuarios" ><i class="fa fa-users active" aria-hidden="true"></i> Usuarios</a></li>
          <li class="list-group-item"><a href="{{link}}admin/produtos" ><i class="fa fa-product-hunt" aria-hidden="true"></i> Produtos</a></li>
          <li class="list-group-item"><a href="{{link}}admin/vendas"><i class="fa fa-money" aria-hidden="true"></i> Vendas</a></li>
          <li class="list-group-item"><a href="{{link}}admin/mensagens"><i class="fa fa-telegram" aria-hidden="true"></i> Mensagens</a></li>
          <li class="list-group-item"><a href="{{link}}admin/reward"><i class="fa fa-btc" aria-hidden="true"></i> Recompensa</a></li>
    
        </ul>
      </div>
    </div>
    </div>
