<div class="css">
 <div>
<nav class="navbar navbar-light " style="background-color: blueviolet;">
  <a class="navbar-brand text-white">Wave Delivery</a>
  <form class="form-inline">
    <button class="btn btn-outline-light mr-sm-2 my-2 my-sm-0" type="submit">Entrar</button>
    <button class="btn btn-outline-light mr-sm-2 my-2 my-sm-0" type="button">Cadastre-se já</button>
  </form>
</nav>
<div>
<nav class="navbar navbar-light " style="background-color: blueviolet;">
  <div class="container">
    <!-- Grid row-->
    <div class="row">

    <div class="col-md-5"></div>

      <div class="col-md-2"></div>
        <h6 class="text-uppercase font-weight-bold">    
          <a class="text-light" href='{{links}}/home'>Home</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-light" href='{{links}}/produtos'>Produtos</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-light" href='{{links}}/recompensas'>Recompensas</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-light" href='{{links}}/ajuda'>Ajuda</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-light" href='{{links}}/contato'>Contato</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    
</nav>
</div>
</div>
</div> 